.controls {
  display: flex;
  justify-content: space-around;
  /* background-color: #34495e; */
  background-color: #0C164F;
  color: #fff;
}
.controls-logo {
  font-family: inherit;
  font-size: 18px;
  border: none;
  color: #fff;
  background-color: transparent;
}
.controls-logo:hover {
  /* color: #1abc9c; */
  color: #5643FD;
  cursor: pointer;
}
.controls-algorithms {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.controls-visualize {
  font-family: inherit;
  font-size: 18px;
  align-self: center;
  justify-self: center;
  background-color: #5643FD;
  /* background-color: #1abc9c; */
  padding: 10px 15px;
  margin: 6px 0px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.controls-wall {
  font-family: inherit;
  font-size: 18px;
  align-self: center;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 15px 21px;
}
.controls-wall--hover:hover {
  cursor: pointer;
  color: #5643FD;
}
.controls--click {
  background-color: #5643FD;
  color: #fff;
  cursor: pointer;
}
.controls-clear {
  font-family: inherit;
  font-size: 18px;
  align-self: center;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 15px 21px;
}
.controls-clear:hover {
  cursor: pointer;
  /* color: #1abc9c; */
  color: #5643FD;
}
.labels {
  display: grid;
  gap: 10px;
  padding: 30px 0px 30px 0px;
  font-size: 18px;
  grid-template-areas: "start finish unvisited visited shortest wall";
  justify-content: space-around;
  background-color: #fff;
}
.labels-start {
  grid-area: start;
  display: flex;
  align-items: center;
}
.labels-start--icon {
  width: 23px;
  height: 23px;
  margin: 0px 7px;
  background-image: url("../earth.png");
}
.labels-finish {
  grid-area: finish;
  display: flex;
  align-items: center;
}
.labels-finish--icon {
  width: 23px;
  height: 23px;
  margin: 0px 7px;
  background-image: url("../mars.png");
}
.labels-unvisited {
  grid-area: unvisited;
  display: flex;
  align-items: center;
}
.labels-unvisited--icon {
  width: 23px;
  height: 23px;
  margin: 0px 7px;
  border: 1px solid rgb(175, 216, 248);
  background-color: #fff;
}
.labels-visited {
  grid-area: visited;
  display: flex;
  align-items: center;
}
.labels-visited--icon {
  width: 23px;
  height: 23px;
  margin: 0px 7px;
  border: 1px solid rgb(175, 216, 248);
  background-color: #8322c9;
}
.labels-shortest {
  grid-area: shortest;
  display: flex;
  align-items: center;
}
.labels-shortest--icon {
  width: 23px;
  height: 23px;
  margin: 0px 7px;
  background-color: #11c1f3;
}
.labels-wall {
  grid-area: wall;
  display: flex;
  align-items: center;
}
.labels-wall--icon {
  width: 23px;
  height: 23px;
  margin: 0px 7px;
  background-image: url("../comet.png");
}
.spacing {
  width: 100%;
}
