.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
    margin: 0px 2px;
    display: inline-block;
  }
  
  .node-finish {
    background-image: url("../circle.svg");
  }
  
  .node-start {
    background-image: url("../triangletwo-right.svg");
  }
  
  .node-wall {
    background-image: url("../meteor-solid.svg");
  }